@model IEnumerable< Onsharp.BeyondAutoCore.Web.Model.Dto.CodeDto>

@{
    Layout = "_layout";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="card">
                <div class="card-header border-0 pt-6">
                    <div class="card-toolbar">
                        <h2 class="d-flex text-dark fw-bolder fs-4 align-items-center my-1" style="margin-right: 5px;">Codes</h2>
                        <div class="d-flex justify-content-end" data-kt-code-table-toolbar="base">
                            <button type="button" class="btn btn-sm btn-warning btn-custom-bg" data-bs-toggle="modal" data-bs-target="#kt_modal_add_code">Add Code</button>
                        </div>
                    </div>
                    <input id="viewBagIsGeneric" type="hidden" value="@((bool)ViewBag.IsGeneric ? "true": "false")" />
                    <div class="card-title">
                        <div class="menu-content px-5">
                            <label class="form-check form-switch form-check-custom form-check-solid" for="kt_show_generic_toggle">
                                <input class="form-check-input w-30px h-20px" type="checkbox" value="1" name="mode" id="toggleShowGenerics" @((bool)ViewBag.IsGeneric ? "checked='checked'": "" ) />
                                <span class="form-check-label text-gray-600 fs-7">Show Generics</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <form autocomplete="off">
                                <input id="code-list-search" type="text" data-kt-code-table-filter="search" autocomplete="off" class="form-control form-control-solid ps-15 input-search-ui" placeholder="Search Codes" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_codes_table">
                        <thead>
                            <tr class="text-start fs-7 gs-0 table-list-custom-row-header">
                                <th class="min-w-50px hide-section">Code Id</th>
                                <th class="min-w-125px padding-left-small" style="text-align: left;">Converter Code</th>
                                <th></th>
                                <th class="min-w-125px" style="text-align: left;">Platinum Price</th>
                                <th class="min-w-125px" style="text-align: left;">Palladium Price</th>
                                <th class="min-w-125px" style="text-align: left;">Rhodium Price</th>
                                <th class="min-w-70px padding-right-small" style="text-align: right;">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">
                            @foreach (var code in Model)
                            {
                                <tr>
                                    <td class="hide-section">
                                        @code.Id
                                    </td>
                                    <td class="padding-left-small black-font bold-text">
                                        @code.ConverterName
                                    </td>
                                    <td></td>
                                    <td>
                                        @String.Format("{0:0,0}",code.PlatinumPrice)
                                    </td>
                                    <td>@String.Format("{0:0,0}",code.PalladiumPrice)</td>
                                    <td>@String.Format("{0:0,0}",code.RhodiumPrice)</td>
                                    <td style="text-align: center;">
                                        <button class="btn_converter btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" data-kt-code-table-filter="update_row">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24.894" height="20" viewBox="0 0 24.894 22.132">
                                                <path id="edit-icon" d="M8.95,1.783a.34.34,0,0,0-.1.242V6.93H-6.363V-8.283H4.075a.343.343,0,0,0,.246-.1L5.7-9.766a.348.348,0,0,0-.246-.592H-6.363A2.075,2.075,0,0,0-8.437-8.283V6.93A2.075,2.075,0,0,0-6.363,9H8.85A2.075,2.075,0,0,0,10.925,6.93V.646A.347.347,0,0,0,10.333.4Zm6.768-8.722a2.532,2.532,0,0,0,0-3.579l-1.867-1.867a2.522,2.522,0,0,0-3.574,0L-1.077-1.035l-.432,3.907A1.786,1.786,0,0,0,.461,4.842L4.368,4.41ZM11.448-5.6,3.413,2.426.591,2.742.907-.08l8.03-8.035Zm2.8-3.445a.461.461,0,0,1,0,.644L12.917-7.069,10.406-9.58l1.336-1.336a.451.451,0,0,1,.64,0Z" transform="translate(8.438 13.127)" fill="#e7aa37" />
                                            </svg>
                                        </button>
                                        <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" data-kt-code-table-filter="delete_row">
                                            <svg id="Delete" xmlns="http://www.w3.org/2000/svg" width="18.999" height="20" viewBox="0 0 18.999 24.912">
                                                <path id="Path_340" data-name="Path 340" d="M74.179,2.265A1.276,1.276,0,0,1,75.5.979h5.435a1.276,1.276,0,0,1,1.322,1.285V3.672h.979V2.265A2.256,2.256,0,0,0,80.936,0H75.5a2.256,2.256,0,0,0-2.3,2.265V3.672h.979Zm0,0" transform="translate(-68.719)" fill="#e7aa37" />
                                                <path id="Path_341" data-name="Path 341" d="M30.182,141.322h11.58a2.085,2.085,0,0,0,1.983-2.2V124H28.2v15.118a2.085,2.085,0,0,0,1.983,2.2Zm8.912-14.984a.49.49,0,0,1,.979,0v11.568a.49.49,0,1,1-.979,0Zm-3.611,0a.49.49,0,0,1,.979,0v11.568a.49.49,0,1,1-.979,0Zm-3.611,0a.49.49,0,0,1,.979,0v11.568a.49.49,0,1,1-.979,0Zm0,0" transform="translate(-26.473 -116.41)" fill="#e7aa37" />
                                                <path id="Path_342" data-name="Path 342" d="M1.224,70.448h16.55a1.224,1.224,0,1,0,0-2.448H1.224a1.224,1.224,0,1,0,0,2.448Zm0,0" transform="translate(0 -63.838)" fill="#e7aa37" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Trying to make my own pagination -->
                <div class="row">
                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="dataTables_length" id="kt_codes_table_length">
                            <label>
                                <!-- User can change how many show on page -->
                                <select id="pageSizeSelect" name="kt_codes_table_length" aria-controls="kt_codes_table" class="form-select form-select-sm form-select-solid" onchange="changePageSize(this.options[this.selectedIndex].value)">
                                    <option value="10" selected=@(ViewBag.PageSize == 10)>10</option>
                                    <option value="25" selected=@(ViewBag.PageSize == 25)>25</option>
                                    <option value="50" selected=@(ViewBag.PageSize == 50)>50</option>
                                    <option value="100" selected=@(ViewBag.PageSize == 100)>100</option>
                                </select>    
                            </label>
                        </div>
                    </div>
                    <!-- This will show the list of pages user can navigate to -->
                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="dataTables_paginate paging_simple_numbers" id="kt_codes_table_paginate">
                            <ul class="pagination">
                                <!-- Previous button -->
                                <li class="paginate_button page-item previous disabled" id="kt_codes_table_previous"><a href="/Codes?page=@(ViewBag.CurrentPage - 1)&size=@(ViewBag.PageSize)&isGeneric=@(ViewBag.IsGeneric)" aria-controls="kt_codes_table" data-dt-idx="0" tabindex="0" class="page-link"><i class="previous"></i></a></li>
                                <!-- First page -->
                                <li class="paginate_button page-item active" id="kt_codes_table_previous"><a href="/Codes?page=1&size=@(ViewBag.PageSize)&isGeneric=@(ViewBag.IsGeneric)" aria-controls="kt_codes_table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                @for(int i = 2; i < 7; i++)
                                {
                                    <li class="paginate_button page-item" id="kt_codes_table_previous"><a href="/Codes?page=@(i)&size=@(ViewBag.PageSize)&isGeneric=@(ViewBag.IsGeneric)" aria-controls="kt_codes_table" data-dt-idx="@i" tabindex="0" class="page-link">@i</a></li>
                                }
                                <!-- Last Page -->
                                <li class="paginate_button page-item"><a href="/Codes?page=@(Math.Ceiling((float)ViewBag.Length / 10.0))&size=@(ViewBag.PageSize)&isGeneric=@(ViewBag.IsGeneric)" aria-controls="kt_codes_table" data-dt-idx="7" tabindex="0" class="page-link">@(Math.Ceiling((float)ViewBag.Length / (float)ViewBag.PageSize))</a></li>
                                <!-- Next Button -->
                                <li class="paginate_button page-item next" id="kt_codes_table_next"><a href="/Codes?page=@(ViewBag.CurrentPage - 1)&size=@(ViewBag.PageSize)&isGeneric=@(ViewBag.IsGeneric)" aria-controls="kt_codes_table" data-dt-idx="8" tabindex="0" class="page-link"><i class="next"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="kt_modal_add_code" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered mw-750px">
                    <div class="modal-content">
                        <form autocomplete="off">
                            <div class="form" action="#" id="kt_modal_add_code_form" data-kt-redirect="/codes">
                                <div class="modal-header" id="kt_modal_add_code_header">
                                    <h2 class="fw-bolder">Add a Code</h2>
                                    <div id="kt_modal_add_code_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-body py-10 px-lg-17">
                                    <div class="scroll-y me-n7 pe-7" id="kt_modal_add_code_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_code_header" data-kt-scroll-wrappers="#kt_modal_add_code_scroll" data-kt-scroll-offset="300px">
                                        <input id="id" type="hidden" />
                                        <div class="row g-9 mb-7" style="margin-bottom: 5px !important;">
                                            <div class="col-md-6 fv-row">
                                                <label class="required fs-6 fw-bold mb-2">Converter Name</label>
                                                <input id="convertername" type="text" class="form-control form-control-solid" placeholder="" name="convertername" value="" />
                                            </div>
                                            <div class="col-md-6 fv-row">
                                                <div class="mb-10">
                                                    <label class="form-label fw-bold">Is Generic?</label>
                                                    <div class="d-flex" style="padding-top: 10px;">
                                                        @if ((bool)ViewBag.IsGeneric)
                                                        {
                                                            <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                                                                <input id="radgeneric" name="IsGeneric" class="form-check-input" type="radio" checked="checked">
                                                                <span class="form-check-label">Yes</span>
                                                            </label>
                                                            <label class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input id="radnongeneric" name="IsGeneric" class="form-check-input" type="radio">
                                                                <span class="form-check-label">No</span>
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                                                                <input id="radgeneric" name="IsGeneric" class="form-check-input" type="radio">
                                                                <span class="form-check-label">Yes</span>
                                                            </label>
                                                            <label class="form-check form-check-sm form-check-custom form-check-solid">
                                                                <input id="radnongeneric" name="IsGeneric" class="form-check-input" type="radio" checked="checked">
                                                                <span class="form-check-label">No</span>
                                                            </label>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-9 mb-7">
                                            <div class="col-md-4 fv-row">
                                                <label class="fs-6 fw-bold mb-2">Make</label>
                                                <input id="make" class="form-control form-control-solid" placeholder="" name="make" value="" />
                                            </div>
                                            <div class="col-md-4 fv-row">
                                                <label class="fs-6 fw-bold mb-2">Original Price</label>
                                                <input id="originalprice" type="number" class="form-control form-control-solid" placeholder="" name="originalprice" value="" />
                                            </div>
                                            <div class="col-md-4 fv-row">
                                                <label class="fs-6 fw-bold mb-2">Margin</label>
                                                <input id="margin" type="number" class="form-control form-control-solid" placeholder="" name="margin" value="" />
                                            </div>
                                        </div>
                                        <div class="row g-9 mb-7">
                                            <div class="col-md-4 fv-row">
                                                <label class="-6 fw-bold mb-2">Platinum</label>
                                                <input id="platinum" type="number" class="form-control form-control-solid" placeholder="" name="platinum" value="" />
                                            </div>
                                            <div class="col-md-4 fv-row">
                                                <label class="fs-6 fw-bold mb-2">Palladium</label>
                                                <input id="palladium" type="number" class="form-control form-control-solid" placeholder="" name="palladium" value="" />
                                            </div>
                                            <div class="col-md-4 fv-row">
                                                <label class="fs-6 fw-bold mb-2">Rhodium</label>
                                                <input id="rhodium" type="number" class="form-control form-control-solid" placeholder="" name="rhodium" value="" />
                                            </div>
                                        </div>
                                        <div class="row g-9 mb-7" style="padding-left: 15px; ">
                                            <div class="form-group" style="background-color: #E7AA3726; border: solid 1px #E7AA37; min-height: 175px; ">
                                                <div class="row g-12 mb-7" style="width: 70%; margin: auto; padding-top: 20px; padding-bottom: 10px;">
                                                    <div class="col-md-4 fv-row drop-area" style="height: 120px;">
                                                        <label id="image1-customfile-upload-container" for="image1-file" class="custom-file-upload" style="width: 100%; height: 100%; text-align: center; vertical-align: middle;">
                                                            <img alt="Logo" src="media/upload-file.png" class="logo" style="width: auto; height: 60%; margin: 10px auto 0 auto;" />
                                                            <input id="image1-file" data-input-id="image1" name="file" type="file" onchange="KTModalCodesAdd.readURL(this, 'image1');" />
                                                        </label>
                                                        <div id="image1-container" class="align-content-center d-flex justify-content-center image-container hidden-file">
                                                            <div class="btn btn-icon btn-sm btn-active-icon-primary" style="position: absolute; right: 10px;" onclick="KTModalCodesAdd.hideImage('image1')">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12.728" height="12.728" viewBox="0 0 12.728 12.728">
                                                                    <g id="Close" transform="translate(-6 -6)">
                                                                        <rect id="Rectangle_7" data-name="Rectangle 7" width="16" height="2" rx="1" transform="translate(6 17.314) rotate(-45)" opacity="0.5" />
                                                                        <rect id="Rectangle_8" data-name="Rectangle 8" width="16" height="2" rx="1" transform="translate(7.414 6) rotate(45)" />
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                            <input id="image1-id" type="hidden" />
                                                            <input id="image1-isdeleted" type="hidden" />
                                                            <img id="image1" src="#" alt="Image 1" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 fv-row drop-area" style="height: 120px;">
                                                        <label id="image2-customfile-upload-container" for="image2-file" class="custom-file-upload" style="width: 100%; height: 100%; text-align: center; vertical-align: middle;">
                                                            <img alt="Logo" src="media/upload-file.png" class="logo" style="width: auto; height: 60%; margin: 10px auto 0 auto;" />
                                                            <input id="image2-file" data-input-id="image2" name="file" type="file" onchange="KTModalCodesAdd.readURL(this, 'image2');" />
                                                        </label>
                                                        <div id="image2-container" class="align-content-center d-flex justify-content-center image-container hidden-file">
                                                            <div class="btn btn-icon btn-sm btn-active-icon-primary" style="position: absolute; right: 10px;" onclick="KTModalCodesAdd.hideImage('image2')">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12.728" height="12.728" viewBox="0 0 12.728 12.728">
                                                                    <g id="Close" transform="translate(-6 -6)">
                                                                        <rect id="Rectangle_7" data-name="Rectangle 7" width="16" height="2" rx="1" transform="translate(6 17.314) rotate(-45)" opacity="0.5" />
                                                                        <rect id="Rectangle_8" data-name="Rectangle 8" width="16" height="2" rx="1" transform="translate(7.414 6) rotate(45)" />
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                            <input id="image2-id" type="hidden" />
                                                            <input id="image2-isdeleted" type="hidden" />
                                                            <img id="image2" src="#" alt="Image 2" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 fv-row drop-area" style="height: 120px;">
                                                        <label id="image3-customfile-upload-container" for="image3-file" class="custom-file-upload" style="width: 100%; height: 100%; text-align: center; vertical-align: middle;">
                                                            <img alt="Logo" src="media/upload-file.png" class="logo" style="width: auto; height: 60%; margin: 10px auto 0 auto;" />
                                                            <input id="image3-file" data-input-id="image3" name="file" type="file" onchange="KTModalCodesAdd.readURL(this, 'image3');" />
                                                        </label>
                                                        <div id="image3-container" class="image-container hidden-file">
                                                            <div class="btn btn-icon btn-sm btn-active-icon-primary" style="position: absolute; right: 10px;" onclick="KTModalCodesAdd.hideImage('image3')">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12.728" height="12.728" viewBox="0 0 12.728 12.728">
                                                                    <g id="Close" transform="translate(-6 -6)">
                                                                        <rect id="Rectangle_7" data-name="Rectangle 7" width="16" height="2" rx="1" transform="translate(6 17.314) rotate(-45)" opacity="0.5" />
                                                                        <rect id="Rectangle_8" data-name="Rectangle 8" width="16" height="2" rx="1" transform="translate(7.414 6) rotate(45)" />
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                            <input id="image3-id" type="hidden" />
                                                            <input id="image3-isdeleted" type="hidden" />
                                                            <img id="image3" src="#" alt="Image 3" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer flex-center">
                                    <button type="reset" id="kt_modal_add_code_cancel" class="btn btn-light me-3">Discard</button>
                                    <button type="submit" id="kt_modal_add_code_submit" class="btn btn-warning">
                                        <span class="indicator-label">Submit</span>
                                        <span class="indicator-progress">
                                            Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/codes.css" rel="stylesheet" type="text/css" />
<script src="~/js/codes/list/list.js"></script>
<script src="~/js/codes/addupdate.js"></script>
<script type="text/javascript">KTUtil.onDOMContentLoaded(function () { DragAndDrop.init(); });</script>
<script type="text/javascript">
    function changePageSize(chosen) {
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                            .exec(window.location.search);
        
            return (results !== null) ? results[1] || 0 : false;
        }
        
        
        const pageParam = $.urlParam('page');
        const isGenericParam = $.urlParam('isGeneric');
        console.log("/codes" + "?isGeneric=" + ((isGenericParam === false) ? "false" : "true") + "&size=" + chosen + "&page=" + ((pageParam === false) ? "1" : pageParam));

        window.location = "/codes" + "?isGeneric=" + ((isGenericParam === false) ? "false" : "true") + "&size=" + chosen + "&page=" + ((pageParam === false) ? "1" : pageParam);
    }
</script>